---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
// import Windi from '../components/Windi.astro'
// import {generateStyles} from "../lib/windi"

// console.log(generateStyles(`<footer class="bg-red-200">`))
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Unique page title - Hapi Sites';
let description = 'The perfect starter for your perfect blog?!';
let permalink = 'https://example.com/';
let canonical = false //'https://exmaple.com/post'

// Data Fetching: List all Markdown posts in the repo.
let allPosts = Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));

// Full Astro Component Syntax:
// https://github.com/snowpackjs/astro/blob/main/docs/core-concepts/astro-components.md
---
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <BaseHead
      title="{title}"
      description="{description}"
      permalink="{permalink}"
      canonical="{canonical}"
    />

    <style lang="scss">
      header {
        height: 50px;
        width: calc(100% - 30px);
      }
      main {
        min-height: 100vh;
        background-image: url('https://i.pinimg.com/originals/a1/ad/19/a1ad1972ddb87b768df008023400ff8c.gif');
        background-size: cover;
        display: flex;
        isolation: isolate;
        // background-size: 100%;
        // background-: center;
      }
      .hero-intro {
        width: 40%;
        padding: 2em;
        padding-top: min(15vh, 10rem);
        position: relative;
      }

      .hero-intro::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: skyblue;
        // background: linear-gradient(-45deg, green,yellow,red);
        // opacity: .5;
        mix-blend-mode: multiply;
      }
    </style>
  </head>

  <body>
    <!-- <header>
HEader..
</header> -->
    <main>
      <!-- <div class="hero-intro">
Content...
</div> -->
    </main>
    <footer class="bg-blue-300 text-xl">
      Footer
    </footer>
  </body>
</html>
