---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
// import Windi from '../components/Windi.astro'
// import {generateStyles} from "../lib/windi"

// console.log(generateStyles(`<footer class="bg-red-200">`))
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Unique page title - Hapi Sites';
let description = 'The perfect starter for your perfect blog?!';
let permalink = 'https://example.com/';
let canonical = false //'https://exmaple.com/post'

// Data Fetching: List all Markdown posts in the repo.
let allPosts = Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));

// Full Astro Component Syntax:
// https://github.com/snowpackjs/astro/blob/main/docs/core-concepts/astro-components.md
---
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <BaseHead
      title="{title}"
      description="{description}"
      permalink="{permalink}"
      canonical="{canonical}"
    />

    <style lang="scss">

    </style>
  </head>

  <body class="flex flex-col min-h-100vh">
    <header>
<nav class="">
  <div class="flex mx-auto text-lg pt-5 w-11/12 justify-between md:w-8/12">
    <div class="left w-1/3">Site Name</div>
    <div class="right w-2/3">
    <ul class="flex list-none float-right children:pl-3">
      <li>Link</li>
      <li>Link</li>
      <li>Link</li>
    </ul>
    </div>
  </div>
</nav>
</header>
    <main class="flex flex-1">
<div class="w-full content">
  <div class="flex text-white children:w-full children:text-center">
    <div class="content">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="content">
      <p>Officiis ipsam atque vitae non!</p>
    </div>
  </div>
</div>

    </main>
    <footer class="bg-gray-700 flex-shrink-0 text-center text-white text-xl">
    <div class="mx-auto py-5 w-11/12 md:w-8/12">

     Lovely footer info...
    </div>
    </footer>
  </body>
</html>
